@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Cabin', sans-serif;
    color: #333;
    line-height: 1.6;
    scroll-behavior: smooth;
}

#home {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://github.com/PaulThomas20002/Personal-Website/blob/main/csb.png?raw=true");
    background-repeat: repeat;
    background-size: auto 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed;
    z-index: 1;
}

#home .main h1 {
    font-size: 9vw;
    color: black;
    background: white;
    padding: 10px 40px;
    mix-blend-mode: screen;
    text-align: center;
    /* Centered text */
    font-family: 'Russo One', sans-serif;
}

.main h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 3rem;
    color: #333;
}

.main h3 {
    font-size: 1.5rem;
    color: #777;
}

header {
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ddd;
    backdrop-filter: blur(5px);
    z-index: 6;
}

header nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    padding: 0 20px;
}

header h3 {
    font-family: 'Russo One', sans-serif;
    color: #333;
    font-size: 1.8rem;
}

header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

header ul li {
    margin-left: 20px;
}

header ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

header .hamburger {
    display: none;
}

header .hamburger button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

header .hamburger i {
    color: #333;
}


/* Profile Section */

.side-side {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0px 200px;
}

#section1 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

#section1 .heading {
    margin-bottom: 20px;
    position: relative;
}

#section1 .heading h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#section1 .heading h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#section1 .heading h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#section1 .heading p {
    color: #777;
    font-size: 1.2rem;
}

#section1 .content {
    margin: 20px 0;
    width: 60%;
    text-align: left;
    padding: 0px 40px;
}

#section1 .content h3 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

#section1 .content p {
    color: #777;
    line-height: 1.6;
    font-size: 1.2rem;
}

#section1 .img-box {
    margin-top: 20px;
    overflow: hidden;
    position: relative;
}

#section1 .img-box img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    border-radius: 30%;
    transform: rotate(0deg);
    transition: all 0.3s ease;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#section1 .img-box img:hover {
    transform: rotate(10deg) scale(1.1);
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.child {
    padding: 60px 0;
}

.heading h2 {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

.heading p {
    text-align: center;
    color: #555;
    font-size: 1.2rem;
}

.line {
    border-top: 1px solid #ddd;
    margin: 30px 0;
}


.content h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.arrange p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

footer {
    padding: 20px 0;
    background: #333;
    color: #fff;
    text-align: center;

}

footer a {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5rem;
    transition: color 0.3s;
}

footer a:hover {
    color: #ddd;
}

/* Responsive Design */
@media (max-width: 768px) {
    header ul {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 80px;
        right: 20px;
        width: 200px;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    header ul li {
        margin: 10px 0;
    }

    header .hamburger {
        display: block;
    }

    .main h1 {
        font-size: 2.5rem;
    }

    .main h3 {
        font-size: 1.2rem;
    }
}

/* Skill Bars */
.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#skills .container {
    align-items: center;
    text-align: center;
    padding: 50px;
}

#skills .heading {
    margin-bottom: 20px;
    position: relative;
}

.skill-column {
    flex: 1;
    min-width: 45%;
    padding: 10px;
}

.skills .skill {
    margin-bottom: 20px;
    position: relative;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.skills .skill p {
    margin-bottom: 5px;
    font-weight: 500;
    color: #333;
}

.skills .skill-bar {
    width: 100%;
    background: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
}

.skills .skill-level {
    height: 10px;
    background: #333;
    border-radius: 10px 0 0 10px;
    transition: width 1s ease-in-out;
}

/* Slide-in animation */
@keyframes fill-bar {
    from {
        width: 0;
    }

    to {
        width: var(--skill-level);
    }
}

.skills .skill-visible {
    opacity: 1;
    transform: translateY(0);
}

#skills {
    padding: 50px 0;
    background: #f9f9f9;
    position: relative;
}

#skills .line {
    width: 50px;
    height: 4px;
    background: #333;
    margin: 0 auto 50px;
}


#skills .heading h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#skills .heading h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#skills .heading h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#skills .heading i {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #777;
}


/* Education Section */

#education {
    padding: 50px 0;
    background: #f9f9f9;
    position: relative;
}

#education .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

#education .heading {
    margin-bottom: 20px;
    position: relative;
}

#education .heading h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#education .heading h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#education .heading h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#education .heading i {
    display: block;
    text-align: center;
    font-size: 1.2em;
    color: #777;
}

#education .line {
    width: 50px;
    height: 4px;
    background: #333;
    margin: 0 auto 50px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #333;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    padding: 20px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.timeline-item::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border: 4px solid #333;
    top: 30px;
    left: -10px;
    border-radius: 50%;
    z-index: 1;
}

.timeline-item.left {
    left: 0;
}

.timeline-item.right {
    left: 50%;
}

.timeline-item.right::after {
    left: auto;
    right: -10px;
}

.timeline-item .timeline-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timeline-item h3 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.timeline-item span {
    display: block;
    font-size: 0.9em;
    color: #777;
    margin: 10px 0;
}

.timeline-item p {
    font-size: 1em;
    color: #555;
}

.timeline-item:hover {
    transform: scale(1.05);
    opacity: 1;
}

.timeline-item:not(:hover) {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .timeline::after {
        left: 30px;
        z-index: -1;
    }

    .timeline-item {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
        text-align: left;
    }

    .timeline-item.left,
    .timeline-item.right {
        left: 0%;
    }

    .timeline-item.left::after,
    .timeline-item.right::after {
        left: 30px;
    }
}


/* Projects Section */
#projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
}

#projects .heading {
    margin-bottom: 20px;
    position: relative;
}

#projects .heading h2 {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
}

#projects .heading h2::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #333;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#projects .heading h2:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#projects .heading p {
    color: #777;
    font-size: 1.2rem;
}

#projects .project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.project-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.project-card.flipped .project-inner {
    transform: rotateY(180deg);
}

.project-front,
.project-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.project-front {
    background: #fff;
}

.project-back {
    background: #333;
    color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-front img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.project-front h3,
.project-back h3 {
    margin-top: 15px;
    font-size: 1.5rem;
}

.project-back p {
    font-size: 1rem;
    line-height: 1.4;
}

.project-card:hover .project-front,
.project-card:hover .project-back {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .project-grid {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    #projects .heading h2 {
        font-size: 2rem;
    }

    .project-card {
        width: 100%;
    }
}